:root{
    --vermelho: #e50914;
    --preta: #141414;

}

*{
    margin: 0; padding: 0; box-sizing: border-box;

}

body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif
}

header .container{
    border: 1px solid black;
}